body {
	font-family: "Helvetica Neue","STHeiti","Microsoft YaHei",Helvetica,Arial,sans-serif;
}

.tb-title {
	background: #e1f0f7;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
}
.container {
	border: 1px solid #ebe7e8;
}
.row {
	border: 1px solid #d7e4ea;
	margin-bottom: 10px;
}
.col-xs-1, 
.col-xs-10, 
.col-xs-11, 
.col-xs-12, 
.col-xs-2, 
.col-xs-3, 
.col-xs-4, 
.col-xs-5, 
.col-xs-6, 
.col-xs-7, 
.col-xs-8, 
.col-xs-9 {
	border: 1px solid #d7e4ea;
}